<img src="dcic.png">

# Mapping Inequality in Baltimore

## Introduction 

After the 1929 Stock Market Crash, thousands of Americans were in danger of home foreclosure. To address this problem and stabilize the market, The Home Owners Loan Coperation was created under the Rooselvelt Administration to asses credibility of families in order to decide to refinance their homes.

- Redlining is the process 

- In particular Baltimore,

<img src="baltimoremap-min.png" width=400>


Learn more the Mapping Inequality Project [here](https://dsl.richmond.edu/panorama/redlining/#loc=4/36.71/-96.93&opacity=0.8)

- This data set
- Learning Objectives

## 1. Aquiring Data

Every form contains the characteristics of a particular section indicated by the security grade map. The fields of each form was transcribed and stored in a json format and converted into a csv.

A data frame is a table where every row represents a single unique object and every column represents characteristics of these objects. We can use the pandas library to read our comma seperated file (csv) and create a data frame to prepare the data for analysis.

### Importing the Data and Creating a Data Frame

In [2]:
# Loads the Pandas library 
import pandas as pd

# Creates data frame named df by reading in the Baltimore csv
df = pd.read_csv("AD_Data_BaltimoreProject.csv")
df.head(n=3)

,Form,State,City,Security_Grade,Area_Number,Terrain_Description,Favorable_Influences,Detrimental_Influences,INHABITANTS_Type,INHABITANTS_Annual_Income,...,INHABITANTS_Population_Increase,INHABITANTS_Population_Decrease,INHABITANTS_Population_Static,BUILDINGS_Types,BUILDINGS_Construction,BUILDINGS_Age,BUILDINGS_Repair,Ten_Fifteen_Desirability,Remarks,Date
0,NS FORM-8 6-1-37,Maryland,Baltimore,A,2,Rolling,Fairly new suburban area of homogeneous charac...,None,Substantial Middle Class,"$3000 - 5,000",...,Fast,NaN,NaN,Detached an row houses,Brick and frame,1 to 10 years,Good,Upward,A recent development with much room for expans...,"May 4,1937"
1,NS FORM-8 6-1-37,Maryland,Baltimore,A,1,Undulating,Very nicely planned residential area of medium...,None,"Executives, Professional Men",over $5000,...,Moderately Fast,NaN,NaN,Single family detached,Brick and Stone,12 years,Very good,Upward,Mostly fee properties. A few homes valued at $...,"May 4,1937"
2,NS FORM-8 6-1-37,Maryland,Baltimore,A,3,Rolling,Good residential area. Well planned.,Distance to City,"Executives, Professional Men",3500 - 7000,...,Moderately Fast,NaN,NaN,One family detached,"Brick, Stone, and Frame",1 to 20 years,Good to excellent,Upward,Principally fee property. This section lies in...,"May 4,1937"

<img src="Baltimore_AD_002.png" width=400 >

In Baltimore data frame, every row is a unique form, called an observation, and column represents a transcribed field from the form, called a variable. For example, in this form `SECUIRITY GRADE` has value A and `AREA NO.` has value 2. This form can be located in the first row with index 0 in the data frame above.

## 2. Data Cleaning

After obtaining our data, we need to clean, manipulate, and transform it for analysis and ease of use. This is called data wrangling.

### Handling Similar Text Values

The `INHABITANTS_Foreignborn` varaible indicates whether there are foreigners in a region. Observe that different forms used 'No' or 'None' to indicate there are no foreigners, NaN indicates the value in the form is missing, and 'Small','Very few', and 'Mixture' are various ways of indicating there were foreigners.

In [79]:
# Selects rows with indeces between 0 to 15 included of the 'INHABITANTS_Foreignborn' column
df.ix[0:15,'INHABITANTS_Foreignborn']

0           No
1         None
2         None
3         None
4         None
5          NaN
6           No
7           No
8           No
9        Small
10    Very few
11          No
12          No
13          No
14          No
15     Mixture
Name: INHABITANTS_Foreignborn, dtype: object

Since columns with standardized values are easier to analyze, we are going to transform this column to indicate whether there are foreigners or not. In Python, 'None' is a special keyword that indicates the cell has a null value. Therefore, we will alter all the 'None' values to 'No' and every other value that indicates there are to 'Yes'.

In [80]:
# Replaces the values of 'None' with 'No'
df['INHABITANTS_Foreignborn'] = df['INHABITANTS_Foreignborn'].replace('None', 'No')

# Replaces all other values with 'Yes'
for value in df['INHABITANTS_Foreignborn']:
    if value != 'No' and value != 'NaN':
        df['INHABITANTS_Foreignborn'] = df['INHABITANTS_Foreignborn'].replace(value, 'Yes')

df.ix[0:15,'INHABITANTS_Foreignborn']

0      No
1      No
2      No
3      No
4      No
5     Yes
6      No
7      No
8      No
9     Yes
10    Yes
11     No
12     No
13     No
14     No
15    Yes
Name: INHABITANTS_Foreignborn, dtype: object

Detrimental_Influences - 

Notice in this case that there are multiple variations of the meaning of 'No' to be replaced.

In [81]:
df.ix[0:15,'Detrimental_Influences']

0                                          None
1                                          None
2                              Distance to City
3                                          None
4                                          None
5                                           NaN
6                                           No.
7                                          None
8     Few streets of property in poor condition
9                                          None
10                                         None
11                      Built on filled ground.
12                                         None
13                                         None
14                   Distance to center of city
15                                         None
Name: Detrimental_Influences, dtype: object

To handle the multiple words to be replaced we can use an array to store a string of values.

In [82]:
no_words = ['No.','no', 'none', 'None']

for word in no_words:
    df['Detrimental_Influences'] = df['Detrimental_Influences'].replace( word , 'No')

We need to do these same operations for `INHABITANTS_Negro` and `INHABITANTS_Infiltration`. Functions
paramters, arguments

In [83]:
def replace_values(attribute, new_word, words_to_replace):
    for word in words_to_replace:
        df[attribute] = df[attribute].replace(word, new_word) 


replace_values('INHABITANTS_Negro', 'No', no_words)
replace_values('INHABITANTS_Infiltration', 'No', no_words)

In [84]:
df.ix[0:15,'INHABITANTS_Infiltration']

0                  No
1                  No
2                  No
3                  No
4                  No
5                 NaN
6                  No
7                  No
8                  No
9                 NaN
10                 No
11                 No
12                 No
13                 No
14                 No
15    People from C-1
Name: INHABITANTS_Infiltration, dtype: object

In [85]:
# Various words meaning small 
small_words = ['Nominal','nominal', 'Small','small','Minimum', 'minimum','minimal', 'Very few']

replace_values('INHABITANTS_Negro', 'Few', small_words)
replace_values('INHABITANTS_Infiltration', 'Few', small_words)

We can clean up the values of `INHABITANTS_Population_Increase` by choosing standard c

In [86]:
 df.ix[0:15,'INHABITANTS_Population_Increase']

0               Fast
1     Moderately Fast
2     Moderately Fast
3              Slowly
4     Moderately Fast
5                 NaN
6                 NaN
7              Slowly
8     Moderately Fast
9     Moderately Fast
10                NaN
11             Slowly
12             Slowly
13         Moderately
14             Slowly
15              Fast
Name: INHABITANTS_Population_Increase, dtype: object

In [87]:
# Will define degrees of speed as very slowly, slowly, moderately, moderately fast, fast

# Defines values to replace in the table 
very_slowly = ['Very Slowly', 'very slowly', 'very Slowly']
slowly = ['slowly', 'fairly slowly']
moderately = ['moderately']
moderately_fast = ['Moderately Fast', 'moderately Fast', 'moderately fast']
fast = ['very fast', 'Very Fast', 'fast']

# Applies function to obtain our new values 
replace_values('INHABITANTS_Population_Increase', 'Very slowly', very_slowly)
replace_values('INHABITANTS_Population_Increase', 'Slowly', slowly)
replace_values('INHABITANTS_Population_Increase', 'Moderately', moderately )
replace_values('INHABITANTS_Population_Increase', 'Moderately fast', moderately_fast)
replace_values('INHABITANTS_Population_Increase', 'Moderately fast', moderately_fast)
replace_values('INHABITANTS_Population_Increase', 'Fast', fast)

In [88]:
 df.ix[0:15,'INHABITANTS_Population_Increase']

0               Fast
1     Moderately fast
2     Moderately fast
3              Slowly
4     Moderately fast
5                 NaN
6                 NaN
7              Slowly
8     Moderately fast
9     Moderately fast
10                NaN
11             Slowly
12             Slowly
13         Moderately
14             Slowly
15              Fast
Name: INHABITANTS_Population_Increase, dtype: object

### String Parsing to Extract Data

Some of the cities have corresponding suburbs followed by a dash. We can extract the suburbs and create a new column using  `str.split()`.

In [89]:
df.ix[16:30,'City']

16                                Baltimore
17                       Baltimore - Dundalk
18                                 Baltimore
19                  Baltimore - Metropolitan
20                                 Baltimore
21                  Baltimore - Metropolitan
22                                 Baltimore
23                   Baltimore - Sub. Burton
24    Baltimore - Sub. Mt. Washington Summit
25                Baltimore - Sub. Villahove
26            Baltimore - Sub. Colonial Park
27        Baltimore - Sub. Linthicum Heights
28                                 Baltimore
29                                 Baltimore
30                                 Baltimore
Name: City, dtype: object

In [90]:
# Creates a new data frame that splits the values in the orginal data frame on the '-' character 
newdf = df["City"].str.split('-', n = 1, expand = True) 
newdf.head()

# Creates two new columns 
df['City_clean'] = newdf[0]
df['Suburb'] = newdf[1]

# removes the old column
df.drop(["City"], axis = 1, inplace = True) 

# renames as 'City'
df.rename(index=str, columns={"City_clean": "City"});

In [91]:
df.ix[16:30,['Suburb']]

                         Suburb
16                         None
17                      Dundalk
18                         None
19                 Metropolitan
20                         None
21                 Metropolitan
22                         None
23                  Sub. Burton
24   Sub. Mt. Washington Summit
25               Sub. Villahove
26           Sub. Colonial Park
27       Sub. Linthicum Heights
28                         None
29                         None
30                         None

The `BUILDINGS_Age` attribute represents the range of the age of the buildings in a region. Notice the range is given is given as a string of text. For purpose of analysis, we would like to extract the upper end of the range and create a column of numeric values.

In [101]:
df.ix[0:15,'BUILDINGS_Age']

0      1 to 10 years
1           12 years
2      1 to 20 years
3           10 years
4      1 to 20 years
5                NaN
6           25 years
7     15 to 25 years
8           15 years
9      5 to 25 years
10          20 years
11     5 to 10 years
12          10 years
13          25 years
14     1 to 20 years
15     6 to 25 years
Name: BUILDINGS_Age, dtype: object

Observe that the number to extract is always the last number ..

In [93]:
df['max_building_age'] = df['BUILDINGS_Age'].str.extract('(\d+)(?!.*\d)', expand=True)

In [94]:
df.ix[0:15,['BUILDINGS_Age','max_building_age']]

     BUILDINGS_Age max_building_age
0    1 to 10 years               10
1         12 years               12
2    1 to 20 years               20
3         10 years               10
4    1 to 20 years               20
5              NaN              NaN
6         25 years               25
7   15 to 25 years               25
8         15 years               15
9    5 to 25 years               25
10        20 years               20
11   5 to 10 years               10
12        10 years               10
13        25 years               25
14   1 to 20 years               20
15   6 to 25 years               25

### Handling Dates

 The `Date` column has three attributes given by **month day, year**.

In [95]:
df.ix[0:7,['Date']]

         Date
0  May 4,1937
1  May 4,1937
2  May 4,1937
3  May 4,1937
4         NaN
5         NaN
6         NaN
7  May 4,1937

We can seperate this column into three columns:  `Month`, `Day`, and `Year` using `str.extract()` and regular expressions.

In [103]:
# extracts the year using regular expression (\d\d\d\d) to indicate 4 digit date
df['Year'] = df['Date'].str.extract('(\d\d\d\d)', expand=True)

# extracts day using regular expression \d to indicate single digit
df['Day'] = df['Date'].str.extract('(\d)', expand=True)

# extracts month using regular expression [A-Z]\w{0,} to indicate string of characters
df['Month'] = df['Date'].str.extract('([A-Z]\w{0,})', expand=True)

df.ix[0:7,['Date','Month','Day','Year']]

         Date Month  Day  Year
0  May 4,1937   May    4  1937
1  May 4,1937   May    4  1937
2  May 4,1937   May    4  1937
3  May 4,1937   May    4  1937
4         NaN   NaN  NaN   NaN
5         NaN   NaN  NaN   NaN
6         NaN   NaN  NaN   NaN
7  May 4,1937   May    4  1937

## 3. Data Manipulation

### Encoding Categorical Data

In [97]:
 df.ix[0:15,'INHABITANTS_Population_Increase']

0               Fast
1     Moderately fast
2     Moderately fast
3              Slowly
4     Moderately fast
5                 NaN
6                 NaN
7              Slowly
8     Moderately fast
9     Moderately fast
10                NaN
11             Slowly
12             Slowly
13         Moderately
14             Slowly
15              Fast
Name: INHABITANTS_Population_Increase, dtype: object

### Sorting and Grouping

In [98]:
df.ix[0:10,['Security_Grade','Area_Number']]

   Security_Grade  Area_Number
0               A            2
1               A            1
2              A             3
3               A            4
4              A             5
5               A            6
6               B            1
7               B            2
8               B            3
9               B            4
10              B            5

In [99]:
sort_by_area_number = df.sort_values(['Security_Grade', 'Area_Number'])
sort_by_area_number.ix[0:10,['Security_Grade','Area_Number']]
#bug A1 gone and A3 in wrong position

   Security_Grade  Area_Number
0               A            2
3               A            4
5               A            6
2              A             3
4              A             5
6               B            1
7               B            2
8               B            3
9               B            4
10              B            5

## 4. Data Analysis

In [100]:
df['max_building_age'].describe()

count     46
unique    12
top       25
freq       9
Name: max_building_age, dtype: object

In [ ]:
# converts max_building age to numeric type
df["max_building_age"] = pd.to_numeric(df["max_building_age"])
df['max_building_age'].describe()

### Text Analysis

In [69]:
df['Favorable_Influences']

0     Fairly new suburban area of homogeneous charac...
1     Very nicely planned residential area of medium...
2                  Good residential area. Well planned.
3                    Well planned development of fairly
4     Desirable residential section. Good quality, m...
5             To be developed as high grade development
6     Desirable old residential section. Principally...
7     Restricted, desirable residential section of m...
8     Good residential section of fast moving property.
9     Good suburban residential area of modest homes...
10    Good residential section of homogeneous charac...
11       Near Druid Hill Park. Close to center of city.
12          Stable residential section of modest homes.
13            Good residential area holding up in value
14    Fairly good residential section with all conve...
15    Desirable residential section, homogeneous as ...
16    Homogeneous development. Near to parks. Transp...
17    Near to Sparrows Point. Desirable residential ...
18      Quiet suburban section of homogeneous character
19                     Outlying quiet suburban section.
20    Stable old residential section of good character.
21    Outlying quiet suburban section. County east o...
22    Very high. Fairly new residential section of h...
23    Desirable residential section of very good cha...
24    Suburban atmosphere. Desirable residential sec...
25    A fairly new development of single homes in de...
26    The natural section for expansion from Liberty...
27    Desirable residential section of good characte...
28    Close to commercial area. Fairly desirable res...
29            Stable residential area of modest houses.
30    Conversion value of location for business purp...
31    Outlying residential section of small modest h...
32                                                 None
33                      Proximity to industrial plants.
34    Old residential section of modest character in...
35      Fairly good residential section of modest homes
36    Proximity to Patterson Park. Near to industria...
37      Near to employment, particularly Sparrows Point
38    Fairly desirable residential area of rather ol...
39    Close to commercial area. Goucher college loca...
40                        Proximity to Druid Hill Park.
41                             Close to commercial area
42                                                  NaN
43                                 Fairly good location
44            Fairly desirable section of modest houses
45                         On Washington-Baltimore Pike
46                                  Suburban atmosphere
47     Similar in general character to Lansdowns (C-19)
48    Similar in character to Lansdowne except furth...
49             Similar in character to Lansdowne (C-19)
50    Proximity to employment, industrial and commer...
51                      Close to industrial employment.
52               Good transportation. Central location.
53                   Central location. Near employment.
54                           Near desirable properties.
55           Central locations. Conversion to business.
56    Central location. Conversion value for busines...
Name: Favorable_Influences, dtype: object

In [5]:
# Convert from type object to type string 
df['Favorable_Influences'] = df['Favorable_Influences'].astype(str)
# Case normalization
df['Favorable_Influences'] = df['Favorable_Influences'].str.lower()

In [45]:
df['Favorable_Influences'][0:15]

0     [fairly, new, suburban, area, of, homogeneous,...
1     [very, nicely, planned, residential, area, of,...
2              [good, residential, area, well, planned]
3              [well, planned, development, of, fairly]
4     [desirable, residential, section, good, qualit...
5     [to, be, developed, as, high, grade, development]
6     [desirable, old, residential, section, princip...
7     [restricted, desirable, residential, section, ...
8     [good, residential, section, of, fast, moving,...
9     [good, suburban, residential, area, of, modest...
10    [good, residential, section, of, homogeneous, ...
11    [near, druid, hill, park, close, to, center, o...
12    [stable, residential, section, of, modest, homes]
13    [good, residential, area, holding, up, in, value]
14    [fairly, good, residential, section, with, all...
Name: Favorable_Influences, dtype: object

In [7]:
# remove punctuation 
df['Favorable_Influences'] = df['Favorable_Influences'].str.replace('[^\w\s]','')

In [44]:
df['Favorable_Influences'][0:15]

0     [fairly, new, suburban, area, of, homogeneous,...
1     [very, nicely, planned, residential, area, of,...
2              [good, residential, area, well, planned]
3              [well, planned, development, of, fairly]
4     [desirable, residential, section, good, qualit...
5     [to, be, developed, as, high, grade, development]
6     [desirable, old, residential, section, princip...
7     [restricted, desirable, residential, section, ...
8     [good, residential, section, of, fast, moving,...
9     [good, suburban, residential, area, of, modest...
10    [good, residential, section, of, homogeneous, ...
11    [near, druid, hill, park, close, to, center, o...
12    [stable, residential, section, of, modest, homes]
13    [good, residential, area, holding, up, in, value]
14    [fairly, good, residential, section, with, all...
Name: Favorable_Influences, dtype: object

In [9]:
# tokenization - where every work is a token 
df['Favorable_Influences'] = df['Favorable_Influences'].str.split('[\W_]+')

In [43]:
df['Favorable_Influences'][0:15]

0     [fairly, new, suburban, area, of, homogeneous,...
1     [very, nicely, planned, residential, area, of,...
2              [good, residential, area, well, planned]
3              [well, planned, development, of, fairly]
4     [desirable, residential, section, good, qualit...
5     [to, be, developed, as, high, grade, development]
6     [desirable, old, residential, section, princip...
7     [restricted, desirable, residential, section, ...
8     [good, residential, section, of, fast, moving,...
9     [good, suburban, residential, area, of, modest...
10    [good, residential, section, of, homogeneous, ...
11    [near, druid, hill, park, close, to, center, o...
12    [stable, residential, section, of, modest, homes]
13    [good, residential, area, holding, up, in, value]
14    [fairly, good, residential, section, with, all...
Name: Favorable_Influences, dtype: object

In [12]:
df['Favorable_Influences_clean'] = df['Favorable_Influences']

In [42]:
df['Favorable_Influences_clean'][0:15]

0     [fairly, new, suburban, area, of, homogeneous,...
1     [very, nicely, planned, residential, area, of,...
2              [good, residential, area, well, planned]
3              [well, planned, development, of, fairly]
4     [desirable, residential, section, good, qualit...
5     [to, be, developed, as, high, grade, development]
6     [desirable, old, residential, section, princip...
7     [restricted, desirable, residential, section, ...
8     [good, residential, section, of, fast, moving,...
9     [good, suburban, residential, area, of, modest...
10    [good, residential, section, of, homogeneous, ...
11    [near, druid, hill, park, close, to, center, o...
12    [stable, residential, section, of, modest, homes]
13    [good, residential, area, holding, up, in, value]
14    [fairly, good, residential, section, with, all...
Name: Favorable_Influences_clean, dtype: object

In [37]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words = stopwords.words('english')
df['Favorable_Influences_clean'].apply(lambda x: [item for item in x if item not in stop_words])

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/sarahagarrat/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

0     [fairly, new, suburban, area, homogeneous, cha...
1     [nicely, planned, residential, area, medium, l...
2              [good, residential, area, well, planned]
3                  [well, planned, development, fairly]
4     [desirable, residential, section, good, qualit...
5                 [developed, high, grade, development]
6     [desirable, old, residential, section, princip...
7     [restricted, desirable, residential, section, ...
8     [good, residential, section, fast, moving, pro...
9     [good, suburban, residential, area, modest, ho...
10    [good, residential, section, homogeneous, char...
11       [near, druid, hill, park, close, center, city]
12        [stable, residential, section, modest, homes]
13            [good, residential, area, holding, value]
14    [fairly, good, residential, section, convenien...
15    [desirable, residential, section, homogeneous,...
16    [homogeneous, development, near, parks, transp...
17    [near, sparrows, point, desirable, residential...
18    [quiet, suburban, section, homogeneous, charac...
19                 [outlying, quiet, suburban, section]
20    [stable, old, residential, section, good, char...
21    [outlying, quiet, suburban, section, county, e...
22    [high, fairly, new, residential, section, homo...
23    [desirable, residential, section, good, charac...
24    [suburban, atmosphere, desirable, residential,...
25    [fairly, new, development, single, homes, desi...
26    [natural, section, expansion, liberty, heights...
27    [desirable, residential, section, good, charac...
28    [close, commercial, area, fairly, desirable, r...
29          [stable, residential, area, modest, houses]
30    [conversion, value, location, business, purpos...
31    [outlying, residential, section, small, modest...
32                                               [none]
33                      [proximity, industrial, plants]
34    [old, residential, section, modest, character,...
35    [fairly, good, residential, section, modest, h...
36    [proximity, patterson, park, near, industrial,...
37    [near, employment, particularly, sparrows, point]
38    [fairly, desirable, residential, area, rather,...
39    [close, commercial, area, goucher, college, lo...
40                       [proximity, druid, hill, park]
41                            [close, commercial, area]
42                                                [nan]
43                             [fairly, good, location]
44         [fairly, desirable, section, modest, houses]
45                          [washingtonbaltimore, pike]
46                               [suburban, atmosphere]
47        [similar, general, character, lansdowns, c19]
48    [similar, character, lansdowne, except, remove...
49                 [similar, character, lansdowne, c19]
50    [proximity, employment, industrial, commercial, ]
51                      [close, industrial, employment]
52            [good, transportation, central, location]
53                [central, location, near, employment]
54                        [near, desirable, properties]
55           [central, locations, conversion, business]
56    [central, location, conversion, value, busines...
Name: Favorable_Influences_clean, dtype: object

In [38]:
 from collections import Counter
df['word_count'] = df['Favorable_Influences_clean'].apply(Counter)

In [41]:
df['word_count'][0:15]

0     {'fairly': 2, 'new': 1, 'suburban': 1, 'area':...
1     {'very': 1, 'nicely': 1, 'planned': 1, 'reside...
2     {'good': 1, 'residential': 1, 'area': 1, 'well...
3     {'well': 1, 'planned': 1, 'development': 1, 'o...
4     {'desirable': 1, 'residential': 1, 'section': ...
5     {'to': 1, 'be': 1, 'developed': 1, 'as': 1, 'h...
6     {'desirable': 1, 'old': 1, 'residential': 1, '...
7     {'restricted': 1, 'desirable': 1, 'residential...
8     {'good': 1, 'residential': 1, 'section': 1, 'o...
9     {'good': 2, 'suburban': 1, 'residential': 1, '...
10    {'good': 1, 'residential': 1, 'section': 1, 'o...
11    {'near': 1, 'druid': 1, 'hill': 1, 'park': 1, ...
12    {'stable': 1, 'residential': 1, 'section': 1, ...
13    {'good': 1, 'residential': 1, 'area': 1, 'hold...
14    {'fairly': 1, 'good': 1, 'residential': 1, 'se...
Name: word_count, dtype: object

## 5. Data Visualization

In [ ]:
import matplotlib.pyplot as plt

<img src="redl.png">